* {
    margin:0;
    padding:0;
}
body {
    background-image:url("f.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    margin:0px;
    border:0px;
    padding-top:29%;
    background-color:black;
    
}
nav {
    
   z-index:20;
    background-color:black;
    position: fixed;
    top: 0;
    width: 100%;
    

}
    nav p {
        font-family:Arial;
        color:white;
        font-size:35px;
        line-height:35px;
       
        padding:0px 60px;
        
         background-color: #333;
       
    width: 100%;
   



    }
    nav ul {
        float: left;
        
    }
        nav ul li {
            float:left;
            list-style:none;
            position:relative;
            
        }
            nav ul li a {
 float: left;
        display: block;
        color: #f2f2f2;
      font-family:Arial;
        text-decoration: none;
       padding:10px 10px;
      font-size:21px;
      padding-top:14px;
      padding-left:12px;
      
       
            }
            nav ul li ul {
                display:none;
                position:absolute;
                background-color:black;
                padding:10px;
                border-radius:4px 4px 4px 4px;
                margin-top:21%;
                

            }
            nav ul li:hover ul {
                display:block;
            }
                nav ul li ul li a {
                    padding:8px 14px;
                }
                    nav ul li ul li a:hover {
                        background-color:#f2f2f2;
                    }
                nav ul li ul li {
                    width:180px;
                    border-radius:4px;
                }
    nav a:hover {
        background:#ddd;
        color:black;
    }
nav ul li a.active {
    background:#f00;
}







    footer a {
        text-decoration: none;
    }

a {
    text-decoration: none;
}
footer {
    width:100%;
    background-color: black;
    color: white;
    clear: both;
    padding-left: 5px;
    text-align: center;
    margin-bottom: 1px;
    font-size: 25px;
   
    font-family: arial;
    font-weight:500;
    font-style:oblique;
    text-indent:30px;
  
}


/*Moving words 1/**/
.box {
   
   position:absolute;
  left:50%;
   transform:translate(-50%,-50%);
   
}
.inner {
    position:absolute;
    width:850px;
    height:55px;
    
    font-size: 49px;
    font-family: sans-serif;
    font-weight: 800;
    white-space: nowrap;
    box-shadow: 4px 6px 8px;
   overflow:hidden;
   text-align:center;
    
}
.containeer {
    width: 100px;
}

    .inner:first-child {
        background: indianred;
        color:black; 
        transform-origin:right ;
        right:0; 
        transform: perspective(800px) rotateY(-60deg);
        
    }

.inner:last-child {
    background: lightcoral;
    color: white;
    transform-origin:left ;
 left:0;
    transform: perspective(800px) rotateY(60deg);
    
}

    

.inner span1 {
    position: absolute;
    animation: marquee 5s linear infinite;
}
.inner:first-child span1 {
    animation-delay: 2.5s;
    right: 100%;
}

@keyframes marquee {
    from {
        left: 100%;
    }

    to {
        left: -100%;
    }
}
footer p {
    font-size: 25px;
    line-height: 30px;
    font-family: arial;
    font-weight:500;
    font-style:italic;
    text-indent:30px;
  color:whitesmoke;
   
}
/*slide menu bar*/

.nav {
    height:100%;
    width:0;
    position:fixed;
    z-index:60;
    top:0;
    left:0;
    background-color:#111;
    
    overflow-x:hidden;
    padding-top:60px;
    transition:0.7s;
}
.nav a {
    display:block;
    padding:5px 14px;
    font-size:17px;
    text-decoration:none;
    color:#ccc; 
    background-color:black;
    
}
    .nav a:hover {
        color:#fff;
        transition:0.6s;
        background-color:#333;
    }
    .nav .close {
        position:absolute;
        top:0;
        right:22px;
        margin-left:50px;
        font-size:30px;
    }
.slide a {
    color:black;
    font-size:36px;
    padding-left:10px;
    top:50px;
}
#content {
    position:absolute;
    transition:margin-left 0.7s;
    overflow:hidden;
    width:100%;
    top:0;
    z-index:70;
    padding-left:12px;
    position:fixed;
}

.nav p {
    background-color:green;
    padding-left:3px;
}
#containers {
    width: 320px;
    left:20%;
}
/*sdider images */

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}

#slider {
    overflow: hidden;
}
    #slider figure img {
        width: 20%;
        float: left;
    }
    #slider figure {
        position: relative;
        width: 500%;
        margin:0;
        left:0;
        text-align:left;
        font-size:0;
        animation:13s slider infinite;
    }
    /*slider end*/
h2 {
    color:green;
}




 .clock {
 
    
    background:#ececec;
    width:300px;
    height:300px;
    margin:8% auto;
    border-radius:50%;
    border:14px solid #333;
    position:relative;
    box-shadow:0 2vw 4vw -1vw rgba(0,0,0,0.8);
}
.dot {width:14px;
      height:14px;
      border-radius:50%;
      background:#000;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
      position:absolute;
      z-index:10;
      box-shadow:0 2px 4px -px black;

}
.hour-hand {
    position:absolute;
    z-index:5;
    width:4px;
    height:74px;
    background:black;
    top:79px;
    transform-origin:50% 75px;
    left:50%;
    margin-left:-2px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
}
.minute-hand {
    position:absolute;
    z-index:6;
    width:4px;
    height:100px;
    background-color:#000;
    top:46px;
    left:50%;
    margin-left:-2px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    transform-origin:50% 105px;

}
.second-hand {
     position:absolute;
    z-index:7;
    width:2px;
    height:120px;
    background-color:red;
    top:26px;
    left:50%;
    margin-left:-1px;
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    transform-origin:50% 125px;
}
span {
    display:inline-block;
    position:absolute;
    color:#222;
    font-size:22px;
    font-family:Arial;
    font-weight:700;
    z-index:4;
}
.h12 {top:30px;
      left:50%;
      margin-left:-9px;
}

.h10 {top:80px;
      left:15%;
  
}


.h11 {top:41px;
      left:26%;
  
}
.h1 {
    top:37px;
    right:89px;
}
.h2 {
    top:80px;
    right:45px;
}

.h3 {
    top:140px;
    right:30px
}
.h4 {
    top:197px;
    right:45px
}

.h5 {
    top:235px;
    right:89px
}

.h6{
    bottom:30px;
    left:50%;
    margin-left:-5px;
}
.h7{
    bottom:42px;
    left:32%;
    margin-left:-5px;
}

.h9 {
    left:32px;
    top:140px;
}
.h8 {
    left:47px;
    top:195px;
}

.diallines {
    position:absolute;
    z-index:2;
    width:2px;
    height:15px;
    background:#666;
    left:50%;
    margin-left:-1px;
    transform-origin:50% 150px;

}
    .diallines:nth-of-type(5n) {
         position:absolute;
    z-index:2;
    width:4px;
    height:25px;
    background:#666;
    left:50%;
    margin-left:-1px;
    transform-origin:50% 150px;
    }
.date {
    position:absolute;
    width:120px;
    height:20px;
    border-radius:7px;
    background-color:#888;
    text-align:center;
    line-height:20px;
    color:#fff;
    font-size:11px;
    top:80px;
    left:50%;
    margin-left:-60px;
    font-family:Arial;
    font-weight:700;
    z-index:3;
    letter-spacing:3px;
}
.day {
     position:absolute;
    width:120px;
    height:20px;
    border-radius:7px;
    background-color:#888;
    text-align:center;
    line-height:20px;
    color:#fff;
    font-size:11px;
    top:200px;
    left:50%;
    margin-left:-60px;
    font-family:Arial;
    font-weight:700;
    z-index:3;
    letter-spacing:3px;
}

.containerss {
    font-family:Arial;
    font-weight:bold;
    color:#000000;
    border:1px solid #000000;
    padding:10px;
    width:340px;
    text-align:center;
    border-radius:10px;
    border-radius:10px;
    background:#ececec;
}




